{% if pages_list.paginator.num_pages > 1 %}
	<div class='pagination'>
		{% if pages_list.has_previous %}
			<a class='pagination__prev' href='?page={{ pages_list.previous_page_number }}' rel='prev'></a>
		{% endif %}

		{% for page_number in pages_list.paginator.page_range %}
			{% if page_number  == pages_list.number %}
				<b class='pagination__page pagination__page--current'>{{ page_number }}</b>
			{% else %}
				<a class='pagination__page' href="?page={{ page_number }}">{{ page_number }}</a>
			{% endif %}
		{% endfor %}

		{% if pages_list.has_next %}
			<a class='pagination__next' href='?page={{ pages_list.next_page_number }}' rel='next'></a>
		{% endif %}
		{# <link rel="canonical" href="?page=view-all" /> #}
	</div><!-- .pagination -->
{% endif %}